<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nabdelkefi/IdeaProjects/project1501">
        <classes>
            <class name="Tests.SeleniumDemo">
                <methods>
                    <include name="ValidateTitles_OnlineProduct" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
